{{#if admin_leaveInfo}}
<!--admin_leaveInfo-->
<div class="admin_leaveInfo">
  <style id="searchCss"></style>
  <h1>假別類別</h1>
  <div class="searchBar">
    <input type="text" name="search" id="search" value="{{search}}" placeholder="搜尋關鍵字">
  </div> 
  {{> message}}
  <div id="data-panel">
    {{#each adminLeaveInfo}}
    <div data-search="{{this.LEAVE_NAME}} {{this.ENTITY_NAME}}">
      <span>
        <div>
          <span>假別名稱：</span>
          <span title="{{this.LEAVE_NAME}}">{{this.LEAVE_NAME}}</span>
        </div>
        <div>
          <span>英文名稱：</span>
          <span title="{{this.ENTITY_NAME}}">{{this.ENTITY_NAME}}</span>
        </div>
      </span>
      <span>
        <input type="button" id="edit" class="btn btn-primary" onclick="Method.common.page('/admin_leaveInfo/{{ this.ENTITY_NAME }}/edit')" value="編輯">
        <input type="button" id="del" class=" btn btn-danger" value="刪除" data-title="{{this.LEAVE_NAME}}" data-infoId="{{this.LEAVE_ID}}">
      </span>
    </div>
    {{/each}}
  </div>
  <div class="footButton">
    <input type="button" class="btn btn-warning" onclick="Method.common.page('/admin_leaveInfo/new')" value="新增資訊">
  </div>
</div>
{{/if}}