<!--admin_edit_search-->
{{#if admin_edit_search}}
<div class="admin_edit_search">
  <h1>編輯資訊</h1>
  {{> message}}
  <form action="/admin_search/{{cpnyId}}/{{table}}/{{adminSearch_id}}?_method=PUT" method="POST">

        <div>
          <label for="category">資訊名稱</label>
          <input type="text" id="adminSearch_name" name="adminSearch_name" class="form-control" placeholder="請輸入資訊名稱" value="{{adminSearchInfo.adminSearch_name}}">
      </div>

        <div>
          <label>資訊內容</label>
          <textarea type="text" class="form-control" name="adminSearch_des" placeholder="請輸入資訊內容" aria-label="inputDes" aria-describedby="des" rows="10" required>{{ adminSearchInfo.adminSearch_des }}</textarea>
      </div>

    <div class="text-center mt-3">
      <a href="/admin_search/filter?companyFilter={{cpnyId}}&tableFilter={{table}}&search=" class="btn btn-primary">取消</a>
      <button type="submit" class="btn btn-info">儲存</button>
    </div>
  </form>
</div>
{{/if}}