{{#if jh_cpnyInfo}}
<!-- jh_cpnyInfo -->
<div class="jh_cpnyInfo">
  <h1>公司資訊</h1>
  {{> message}}
  <div id="data-panel">
    {{#each cpnyInfo}}
    <div>
      <span>
        <div>
          <span>資訊名稱：</span>
          <span title="{{this.CPNYINFO_NAME}}">{{this.CPNYINFO_NAME}}</span>
        </div>
        <div>
          <span>英文名稱：</span>
          <span title="{{this.ENTITY_NAME}}">{{this.ENTITY_NAME}}</span>
        </div>
        <div>
          <span>資訊內容：</span>
          <span>{{this.CPNYINFO_DES}}</span>
        </div>
      </span>
      <span>
        <input type="button" class="btn btn-primary" onclick="Method.common.page('/jh_cpnyInfo/{{ this.ENTITY_NAME }}/edit')" value="編輯">
        <input type="button" id="del" class="btn btn-danger" data-title="{{this.CPNYINFO_NAME}}" data-infoId="{{this.infoId}}" value="刪除">
      </span>
    </div>
    {{/each}}
  </div>
  <div class="footButton">
    <input type="button" class="btn btn-warning" onclick="Method.common.page('/jh_cpnyInfo/new')" value="新增資訊">
  </div>
</div>
{{/if}}