{{#if jh_leave}}
<!-- jh_leave -->
<div class="jh_leave">
  <h1>假別資訊</h1>
  {{> message}}
  <div id="data-panel">
    {{#each leaveInfo}}
    <div>
      <span>
        <div>
          <span>假別名稱：</span>
          <span data-title title="{{this.LEAVE_NAME}}">{{this.LEAVE_NAME}}</span>
        </div>
        <div>
          <span>英文名稱：</span>
          <span title="{{this.ENTITY_NAME}}">{{this.ENTITY_NAME}}</span>
        </div>
        <div>
          <span>假別內容：</span>
          <span title="{{ this.LEAVE_DES }}">{{ this.LEAVE_DES }}</span>
        </div>
      </span>
      <span>
        <input type="button" class="btn btn-primary" onclick="page('/jh_leave/{{ this.ENTITY_NAME}}/edit')" value="編輯">
        <input type="button" class="btn btn-danger" data-infoId="{{this.infoId}}" value="刪除">
      </span>
    </div>                  
    {{/each}}
  </div>
  <div class="footButton">
      <input type="button" class="btn btn-warning" onclick="page('/jh_leave/new')" value="新增假別資訊">
  </div>
</div>
{{/if}}