<!-- jh_leave -->
{{#if jh_leave}}
<div class="jh_leave">
  <h1>假別資訊</h1>
  {{> message}}
  <div id="data-panel">
    {{#each leaveInfo}}
    <div>
      <span>
        <div>
          <span>假別名稱：</span>
          <span title="{{this.LEAVE_NAME}}">{{this.LEAVE_NAME}}</span>
        </div>
        <div>
          <span>英文名稱：</span>
          <span title="{{this.ENTITY_NAME}}">{{this.ENTITY_NAME}}</span>
        </div>
        <div>
          <span>假別內容：</span>
          <span title="{{ this.LEAVE_DES }}">{{ this.LEAVE_DES }}</span>
        </div>
      </span>
      <span>
        <a href="/jh_leave/{{ this.ENTITY_NAME}}/edit" class="btn btn-primary">編輯</a>
        <button class=" btn btn-danger" id="delete-btn" data-toggle="modal" data-target="#deleteModal" data-name="{{ this.LEAVE_NAME }}" data-entity="{{ this.ENTITY_NAME }}" data-category="jh_leave">刪除</button>
      </span>
    </div>                  
    {{/each}}
  </div>
  <div class="text-center footButton">
      <a href="/jh_leave/new" class="btn btn-warning" id="create-btn">新增假別資訊</a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">刪除資訊</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>確定要刪除<strong id="delete-position">{{ this.LEAVE_NAME }}</strong>?</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <form action="/jh_leave/{{ this.LEAVE_ID }}" method="post" style="display:inline-block;" id="delete-form">
          <button type="submit" class="btn btn-danger">確定</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/if}}