{{#if jh_position}}
<!-- jh_position -->
<div class="jh_position">
  <h1>職缺資訊</h1>
  {{> message}}
  <div id="data-panel">
    {{#each positionInfo}}
    <div>
      <span>
        <div>
          <span>職缺名稱：</span>
          <span title="{{this.POSITION_NAME}}">{{this.POSITION_NAME}}</span>
        </div>
        <div>
          <span>英文名稱：</span>
          <span title="{{this.ENTITY_NAME}}">{{this.ENTITY_NAME}}</span>
        </div>
        <div>
          <span>職缺內容：</span>
          <span title="{{ this.POSITION_DES }}">{{ this.POSITION_DES }}</span>
        </div>
      </span>
      <span>
        <a href="javascript:;" class="btn btn-primary" onclick="page('/jh_position/{{ this.ENTITY_NAME}}/edit')">編輯</a>
        <button class=" btn btn-danger" id="delete-btn" data-toggle="modal" data-target="#deleteModal" data-name="{{ this.POSITION_NAME }}" data-entity="{{ this.ENTITY_NAME }}" data-category="jh_position">刪除</button>
      </span>
    </div>
    {{/each}}
  </div>
  <div class="text-center footButton">
    <a href="javascript:;" class="btn btn-warning" id="create-btn" onclick="page('/jh_position/new')">新增職缺</a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">刪除資訊</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>確定要刪除<strong id="delete-position">{{ this.POSITION_NAME }}</strong>?</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <form action="/jh_position/{{ this.POSITION_ID }}" method="post" style="display:inline-block;" id="delete-form">
          <button type="submit" class="btn btn-danger">確定</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/if}}