<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>chat bot</title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
    type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
    rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body>
  <!-- 導入webchat視窗 -->
  {{#if isAuthenticated}}
  <script>!(function () {
      let e = document.createElement("script"),
        t = document.head || document.getElementsByTagName("head")[0];
      (e.src =
        "/javascript/index.js"),
        // Replace 1.x.x with the hversion that you want
        (e.async = !0),
        (e.onload = () => {
          window.WebChat.default(
            {
              customData: { "language": "zh", "userId": `{{user.CPY_ID}}`, "industryId": `{{user.INDUSTRY_NO}}`},
              socketUrl: "http://192.168.10.108:5005",
              profileAvatar: "/images/jennyhire.jpg",
              inputTextFieldHint: "請輸入內容....",
              title: `[測試版]{{user.CPY_NAME}}小幫手`,
              subtitle: "",
              params: { "storage": "session" },
              showFullScreenButton: true,
              showCloseButton: true,
              showMessageDate: true,
             // embedded: true,
              // add other props here
            },
            null
          );
        }),
        t.insertBefore(e, t.firstChild);
        // 只要重整就刪除對話紀錄
        window.sessionStorage.clear()
    })();
  </script>
  {{/if}}
  <!-- Navigation-->
  <header>
    <nav class="navbar navbar-dark bg-primary" style="font-weight:bold;">
      <a class="navbar-brand" href="/">
        設定
        {{#if isAuthenticated}}
        {{user.CPY_NAME}}
        {{/if}}
        小幫手
      </a>
      {{!-- <h1 style="color: #fff;">ChatBot設定</h1> --}}
      {{#if isAuthenticated}}
      <a href="/users/logout" class="btn btn-outline-light">Logout</a>
      {{else}}
      <a href="/users/login" class="btn btn-outline-light">Login</a>
      {{/if}}
    </nav>
  </header>

  <div class="container">
    {{{body}}}
  </div>
  <!-- Footer-->
  <footer class="main-footer">
    <h3 class="footer-text">Internet Information Co., Ltd All Rights Reserve</h3>
  </footer>

  <!-- 導入webchat最新版本 -->
  {{!-- <script src="https://storage.googleapis.com/mrbot-cdn/webchat-latest.js"></script> --}}
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/js-yaml@4.1.0/dist/js-yaml.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/javascript/front-script.js"></script>
  <script src="/javascript/search.js"></script>
  <script src="/javascript/adminSearch-new.js"></script>
  <script src="/javascript/bf_cs_question.js"></script>
  {{!-- <script data-main="front-script" src="javascript/require.js"></script> --}}
  <!-- Core theme JS-->
  {{!-- <script src="js/scripts.js"></script> --}}
</body>

</html>
