<!--adminCompanyInfo-->

<div data-func="adminCompanyInfo">
  <h1>公司資訊類別</h1>
  <form action="/adminCompanyInfo">
    <label for="search">搜尋公司資訊：</label>
    <input type="text" name="search" id="search" onchange="submit()" value="{{search}}" placeholder="請輸入關鍵字...">
  </form> 
  <div>
    {{> message}}
    <div>
      <ul class="list-group">
        <div class="row d-flex justify-content-center" id="data-panel">
          {{#each adminCompanyInfo}}
          <div>
            <li class="list-group-item" id="record-item" style="border: none;">
              <div class="row">
                <div class=" item-wrapper">
                  <div class="item-title">
                    <div class="d-flex">
                      <div>資訊名稱：</div>
                      <div class="label-des">{{this.INFO_NAME}}</div>
                    </div>
                    <div class="d-flex">
                      <div>資訊英文名稱：</div>
                      <div class="label-des">{{this.INFO_ENTITY_NAME}}</div>
                    </div>
                    
                  </div>
                  <div class="d-flex justify-content-center item-buttons">
                    <button class=" btn btn-danger" id="delete-btn" data-toggle="modal" data-target="#deleteModal" data-id="{{ this.INFO_ID }}" data-name="{{ this.INFO_NAME }}" data-category="adminCompanyInfo">
                        刪除
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </div>
          {{/each}}
        </div>
      </ul>
    </div>
  </div>
  <div class="text=center">
    <a href="/adminCompanyInfo/new" class="btn btn-outline-warning" id="create-btn">新增資訊</a>
  </div>
    
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">刪除資訊</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>確定要刪除<strong id="delete-position">{{ this.INFO_NAME }}</strong>?</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <form action="/adminCompanyInfo/{{ this.INFO_ID }}" method="post" style="display:inline-block;" id="delete-form">
          <button type="submit" class="btn btn-danger">確定</button>
        </form>
      </div>
    </div>
  </div>
</div>