<div class="row d-flex flex-column align-items-center all">
  <h1 class="m-5">公司資訊</h1>
  <div class="col-9 wrapper">
    {{> message}}
    <div class="scroll-view">
      <ul class="list-group">
        <div class="row d-flex justify-content-center" id="data-panel">
          {{#each adminCompanyInfo}}
          <div class="col-12">
            <li class="list-group-item" id="record-item" style="border: none;">
              <div class="row">
                <div class=" item-wrapper">
                  <div class=" my-2 item-title">
                    <div class="label-title">
                      {{this.CPY_NAME}}
                    </div>
                  </div>
                  <div class="item-des">
                    <p class="des-text">公司代碼(公司統編)：{{ this.CPY_ID}}</p>
                    <p class="des-text">EMAIL(登入帳號)：{{ this.EMAIL }}</p>
                    <p class="des-text">產業類別：{{ this.INDUSTRY_NAME }}</p>
                    <p class="des-text">客服使用者：{{#if this.ISHR}}是{{else}}否{{/if}}</p>
                    <p class="des-text">管理員權限：{{#if this.ISADMIN }}管理者{{else}}一般使用者{{/if}}</p>
                  </div>
                  <div class="d-flex flex-column justify-content-around align-items-stretch item-buttons">
      
                    <a href="/adminCompany/{{ this.CPY_ID}}/edit" class="btn btn-primary mx-2" style="font-size: 1rem; height:fit-content;">
                      編輯
                    </a>
                  
                    <a href="/adminCompany/{{ this.CPY_ID}}/edit/password" class="btn btn-info mx-2" style="font-size: 1rem; height:fit-content;">
                      修改密碼
                    </a>
            
                    <button class=" btn btn-danger mx-2" style="font-size:medium; height:fit-content"
                      id="delete-btn" data-toggle="modal" data-target="#deleteModal" data-id="{{ this.CPY_ID }}"
                      data-name="{{ this.CPY_NAME }}" data-category="adminCompany">
                      刪除
                    </button>
    
                  </div>
                </div>
              </div>
            </li>
          </div>
          {{/each}}
        </div>
      </ul>
    </div>
  </div>
  <div class="col-10 my-5 d-flex">
    <div class="col-6">
      <div class="row justify-content-center">
        <a href="/adminCompany/new" class="btn btn-outline-warning col-8" id="create-btn"
          style="font-size: 1.5rem;">新增資訊</a>
      </div>
    </div>
    <div class="col-6">
      <div class="row justify-content-center">
        <a href="/" class="btn btn-outline-dark col-8" id="create-btn"
          style="font-size: 1.5rem;">返回</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">刪除資訊</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p>確定要刪除<strong id="delete-position">{{ this.CPY_NAME }}</strong>?</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <form action="/adminCompany/{{ this.CPY_ID }}" method="post" style="display:inline-block;" id="delete-form">
          <button type="submit" class="btn btn-danger">確定</button>
        </form>
      </div>
    </div>
  </div>
</div>